/* Site settings */
/* ===========================
   Base
   =========================== */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  background: transparent;
  color: crimson;
}

@media screen and (max-width: 996px) {
  .btn {
    padding: 10px 30px;
    font-size: 20px;
  }
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* Layouts */
/* ==|====================
   Layout/Nav
   ======================= */
nav.topbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 100px;
  max-width: 1300px;
  z-index: 999;
}

.logo h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.logo span {
  color: crimson;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.nav-links a {
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/* ==|====================
   Layout/Header
   ======================= */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/banner.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.header-content {
  margin-left: 100px;
  width: 50%;
  color: #fff;
}

.header-content .text-1 {
  font-size: 27px;
}

.header-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.header-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

@media screen and (max-width: 996px) {
  .header-content {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 563px) {
  .header-content .text-2 {
    font-size: 50px;
  }
  .header-content .text-3 {
    font-size: 27px;
  }
}

@media screen and (max-width: 350px) {
  .header-content .text-1 {
    font-size: 19px;
  }
  .header-content .text-2 {
    font-size: 35px;
  }
  .header-content .text-3 {
    font-size: 22px;
  }
}

/* ==|====================
   Layout/Footer
   ======================= */
/* Modules */
/* ===========================
   Menu hamburger
   =========================== */
/*# sourceMappingURL=style.css.map */