/* ===========================
   Base
   =========================== */

html {
   scroll-behavior: smooth;
}

body {
   background-color: red;
   font-family: $font-primary;
}

a {
   text-decoration: none;
   color: #fff;
}