/* ==|====================
   Layout/Header
   ======================= */
header {
   display: flex;
   align-items: center;
   background: url('../images/banner.jpg') no-repeat center;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
}

.header-content {
   margin-left: 100px;
   width: 50%;
   color: #fff;
   .text-1 {
      font-size: 27px;
   }
   .text-2 {
      font-size: 75px;
      font-weight: 600;
      margin-left: -3px;
   }
   .text-3 {
      font-size: 40px;
      margin: 5px 0;
   }
}

@media screen and (max-width: 996px) {
   .header-content {
      width: 90%;
      margin: auto;
   }
}

@media screen and (max-width: 563px) {
   .header-content .text-2 {
      font-size: 50px;
   }
   .header-content .text-3 {
      font-size: 27px;
   }
}

//For iphone 5
@media screen and (max-width: 350px) {
   .header-content .text-1 {
      font-size: 19px;
   }
   .header-content .text-2 {
      font-size: 35px;
   }
   .header-content .text-3 {
      font-size: 22px;
   }
}