/* ==|====================
   Layout/Nav
   ======================= */

nav {
   position: fixed;
   width: 100%;
   transition: all 0.3s ease;
   z-index: 999;
}

.topbar {
   display: flex;
   height: 100px;
   max-width: 1300px;
   margin: auto;
   align-items: center;
   justify-content: space-between;
}

.logo {
   a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
   }
   span {
      color: crimson;
      transition: all 0.3s ease;
   }
}

.sticky {
   background-color: crimson;
}

nav.sticky span {
   color: #fff;
}

.nav-links {
   display: flex;
   a {
      font-size: 18px;
      font-weight: 500;
      margin-left: 25px;
      transition: color 0.3s ease;
      &:hover {
         color: crimson;
      }
   }
}

.sticky .nav-links li a:hover {
   color: #fff;
}

